In [3]:
import pandas as pd

In [4]:
dataset = pd.read_csv(r'C:\Users\princ\OneDrive\2025\Machine Learning\data\loan_sanction_train.csv')

In [5]:
dataset.head(3)

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y

[3 rows x 13 columns]

In [6]:
input_data = dataset.iloc[:,:-1]
output_data = dataset["Dependents"]

In [7]:
input_data, output_data

(      Loan_ID  Gender Married  ... Loan_Amount_Term Credit_History Property_Area
 0    LP001002    Male      No  ...            360.0            1.0         Urban
 1    LP001003    Male     Yes  ...            360.0            1.0         Rural
 2    LP001005    Male     Yes  ...            360.0            1.0         Urban
 3    LP001006    Male     Yes  ...            360.0            1.0         Urban
 4    LP001008    Male      No  ...            360.0            1.0         Urban
 ..        ...     ...     ...  ...              ...            ...           ...
 609  LP002978  Female      No  ...            360.0            1.0         Rural
 610  LP002979    Male     Yes  ...            180.0            1.0         Rural
 611  LP002983    Male     Yes  ...            360.0            1.0         Urban
 612  LP002984    Male     Yes  ...            360.0            1.0         Urban
 613  LP002990  Female      No  ...            360.0            0.0     Semiurban

 [614 rows x 12 columns],
 0       0
 1       1
 2       0
 3       0
 4       0
        ..
 609     0
 610    3+
 611     1
 612     2
 613     0
 Name: Dependents, Length: 614, dtype: object)

In [1]:
from sklearn.model_selection import train_test_split

In [8]:
x_train, x_test, y_train, y_test = train_test_split(input_data,output_data,test_size=0.25)